/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-text {
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
}

.para-text {
  font-size: 0.9rem;
  margin: 0;
}

.playstyle-text {
  font-size: 0.9rem;
  font-weight: 700;
}

.deselected {
  stroke: #3faaf5 !important;
}

.parts-stroke {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.stroke-1 {
  stroke-width: 2.8px;
}

.stroke-2 {
  stroke-width: 1.8px;
}

.stroke-3 {
  stroke-width: 3.2px;
}

.stroke-4 {
  stroke-width: 3.5px;
}

.stroke-5 {
  stroke-width: 1.4px;
}

.stroke-6 {
  stroke-width: 4px;
}

.link-button {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-flex;
  color: #000000;
  padding: 0;
  width: 100%;
  font-weight: 700;
  border-radius: 4px;
  min-width: 64px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration: none;
}

.greyBold {
  color: #636363;
  font-weight: 700;
}
